body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 70px;
    font-size: 20px;
}

nav {
    padding: 20px;
    background-color: #4051b5;
}

nav a {
    text-decoration: none;
    color: aliceblue;
}

main {
    margin: 10px 0 200px;
}

main a {
    text-decoration: none;
    color: #4051b5;
}

h1 {
    margin: 0 0 20px;
    font-size: 48px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

h3 {
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 28px;
}

hr {
    height: 1px;
    border: 0;
    background-color: #7a86cc;
}

.top-banner {
    color: aliceblue;
    font-size: xx-large;
    font-weight: 400;
}

.home-title {
    margin-top: 30px;
}

.contents-heading {
    margin-top: 40px;
}

.contents-item {
    font-size: 28px;
}

.page-heading, .explainer, .example, .contents, .page-title, .breadcrumb, .table-example {
    padding: 5px 20px;
}

.page-heading > h1, .example > h2 {
    margin-top: 0;
}

.breadcrumb {
    margin: 0 1px 20px 1px;
}

.breadcrumb-item {
    color: #7a86cc;
    font-size: 17px;
    font-weight: 400;
}

.fa-chevron-right {
    font-size: 13px;
    color: #7a86cc;
    margin-left: 6px;
    margin-right: 3px;
}

.example-label {
    color: #7a86cc;
    margin: 0 1px 40px 1px;
    padding: 20px 1px;
    font-size: 24px;
    border-top: 1px solid #7a86cc;
    border-bottom: 1px solid #7a86cc;
}

.explainer {
margin-bottom: 10px;
}

.example {
    margin-top: 10px;
    margin-bottom: 60px;
}

/* TABLES */

table, tr, th, td {
    border-bottom: 1px solid #7a86cc;
    border-top: 1px solid #7a86cc;
    border-collapse: collapse;
    text-align: left;
    vertical-align: top;
    font-size: 18px;
}

th, td {
    padding: 16px 16px 16px 0px;
}

table p {
    margin-top: 0;
}

/* LISTS */

.lower-alpha {
    list-style-type: lower-alpha;
}